// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "scss/bootstrap";

// Then add additional custom code here

// Define your variables
$font-family-serif: 'Playfair Display', serif;
$font-family-paragraph: 'Baskervville', serif;
$color-logo-stroke: #36403A;
$color-logo-fill: #C69774;
$background-header-image: url('images/header-image.jpg');
$background-color-semi-transparent: rgba(0, 0, 0, .8);
$button-background-color: #36403A;
$button-hover-background-color: #C69774;
$custom-bg-color: #637E76;
$custom-bg-secondary-color: #3d3d3d;
$custom-hover-color: #C69774;


// Typography styles
h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
}

p {
  font-family: $font-family-paragraph;
}

// Navbar brand hover effects
.navbar-brand {
  &:hover {
    .logo-circle {
      stroke: $color-logo-stroke;
    }

    .logo-text-a, .logo-text-s {
      transform: rotate(-360deg); // Flip A and S
      transition: transform 1s ease;
      fill: $color-logo-fill;
    }

    .logo-text-s {
      transform: rotate(360deg); // Flip S in the opposite direction
    }

    // Transform origin for logo text
    .logo-text-a, .logo-text-s {
      transform-origin: center;
    }
  }
}

// Background styles
.bg-semi-transparent {
  background-color: $background-color-semi-transparent;
}

.custom-button {
  background-color: $button-background-color;
  border: none;

  &:hover {
    background-color: $button-hover-background-color;
  }
}

.custom-bg {
  background-color: $custom-bg-color;
}

.custom-bg-secondary {
  background-color: $custom-bg-secondary-color;
}

// Hover styles
.custom-hover-style, .custom-hover-style-footer {
  &:hover {
    color: $custom-hover-color;
    transform: scale(1.2); // Increase scale for .custom-hover-style
    transition: color 0.6s, transform 0.6s;
  }
}

.custom-hover-style-footer:hover {
  transform: scale(2); // Increase scale more for .custom-hover-style-footer
}

.header-section {
  background-image: url('images/header-image.jpg');
  background-size: cover;
  /* This will ensure the image is scaled to fit inside the container */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */

  

  .bio-image {
    width: 15rem;
  }
}


#accordionFlushExample .accordion-button,
#accordionFlushExample .accordion-body {
  color: white;
  background-color: #36403A;
}

.white-placeholder::placeholder {
  color: white;
  opacity: 1; /* Override any default styles that might make it partially transparent */
}
